.nav_link{
    font-size: xx-large;
    color: white;
    padding-right: 50px;
    text-decoration: solid;   
}
#nav_files{
    background-color: rgb(178, 232, 233) ;

    display: flex;
    
    justify-content: flex-end;
    padding: 20px 10px;
}
